/* Simple resets */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    background: #eeeeee;
    color: #333333;
    text-align: center;
}
ul,p, h1 {
    padding: 0;
    margin: 0;
    list-style: none;
}

section {
    background-color: #ffffff;
    padding: 5px 10px;
    margin: 0 auto;
    padding: 10px;
    width: 80%;
}

section.welcome {
    width: 300px;
}

section.welcome p {
    text-decoration: italic;
}
section.welcome label {
    width: 150px;
}

section.messages {
    width: 400px;
}
section.messages li {
    text-align: left;
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 5px;
}

section.messages li img.gravatar {
    float: left;
    padding: 0 20px 0 0;
}

section.messages li div.nickName {
    font-weight: bold;
}

section.messages li time {
    color: #ccc;
}

section.messages li p {
    font-size: 15px;
    padding: 0 5px;
}

section.inputArea {
    width: 300px;
}


h1 {
    color: #cccccc;
    font-size: 23px;
    margin: 20px 0;
}

.template {
    display: none !important;
}

.hidden {
    display: none;
}

